<div style ="margin-top: -5%;">
    <img class="imgIntro" src="../../../assets/intro.png" alt="Intro">

    <div>
        <h1 style="font-size: 50px;margin-top: 2%;" class="title">Quanto custa criar um <span
                class="colorir">aplicativo</span>?</h1> <br>
        <h2 class="sub-title">Calcule rapidamente o custo para poder criar a sua APP respondendo a estas simples
            perguntas.</h2>
    </div>

    <div id="#">
         <button [routerLink]="['/Page01']" class="button">INICIO</button>
    </div>
  
    <div style="margin-left:84%; margin-top: 7%; display:block">
        <a href="https://pt.yeeply.com/?utm_source=CCMA-BR&utm_medium=logo&utm_campaign=microsites"><img
                src="../../../assets/footer.png"></a>
    </div>
    